<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Listagem de Shinobis</title>
    </head>
    <body>
        <h1>Lista de Shinobis</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Imagem</th>
                    <th>Idade</th>
                    <th>Rank</th>
                    <th>Missão</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="shinobi: ${shinobis}">
                    <td th:text="${shinobi.getId()}"></td>
                    <td th:text="${shinobi.getNome()}"></td>
                    <td th:text="${shinobi.getEmail()}"></td>
                    <!--
                    <td>
                        <img th:src="${shinobi.getImagemUrl()}" alt="">
                    </td>
                    -->
                    <td th:text="${shinobi.getIdade()}"></td>
                    <td th:text="${shinobi.getRank()}"></td>
                    <td th:text="${shinobi.missao}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>